{% load static %}
{# a sample base.html file #}
<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Brain Wash{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="reading drill">
    <meta name="author" content="mrtuttle">

    <link rel="home" href="/" />
    {% block brain_wash_css %}{% endblock %}
    {% block brain_wash_js %}{% endblock %}

    <link rel="index" href="/" />

  </head>
  <body>
    <h1>Brain Wash</h1>
    <div class="nav_main">
      <a href="/">home</a>
      <a href="{% url 'brain_wash:home' %}">brain wash</a>
      {% block nav_main %}
      {% endblock %}
    </div class="nav_main">

    <div class="content_main">
      {% block brain_wash_content %}
      {% endblock %}
    </div class="content_main">

    <div class="footer_main">
      <p>GORIRIDERYOUMOTHERFU!!!</p>
    </div class="footer_main">
  </body>
</html>
