{% extends "brain_wash/base.html" %}
{% load static %}

{% block brain_wash_css %}
    <link rel="stylesheet" href="{% static 'brain_wash/css/app.css' %}" />
{% endblock %}

{% block brain_wash_js %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="{% static 'brain_wash/js/app.js' %}" ></script>
{% endblock %}

{% block brain_wash_content %}
<div id="brain_wash">
  <p></p>
  <div>
    <textarea id="word_source" placeholder="Paste text you want displayed into this textarea to get started."></textarea>
    <button onclick="setup_paragraph_bank()">Update Text</button>
    paragraph: <span id="paragraph_index">5</span>
    <button onclick="previous_paragraph()">Previous Paragraph</button>
    <button onclick="next_paragraph()">Next Paragraph</button>
    wpm: <span id="wpm">5</span>
    <button onclick="wpm_up()">+</button>
    <button onclick="wpm_down()">-</button>
    <button onclick="toggle_paused()"><span id="paused">True</span></button>
  </div>
  <div id="app_display" tabindex="0">
    <div id="word_holder">womp womp</div>
    <div id="paragraph_holder"></div>
  </div id="app_display">
</div id="brain_wash">
{% endblock brain_wash_content %}
